<div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput #input placeholder="Full Name" [value]="dev.fullname">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Asset</mat-label>
        <mat-select>
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let asset of assets" [value]="asset">
                {{asset.brand + asset.model}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>License</mat-label>
        <mat-select>
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let license of licenses" [value]="license">
                {{license.software}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="modal-footer">
        <button mat-flat-button (click)="close()">Close</button>
        <button mat-flat-button (click)="edit()">Edit</button>
    </div>
</div>